.title-holder{
  text-align: center;
  margin-bottom:40px;
}

.individual-recipe-holder{
  margin-bottom:10px;
}

.box{
  margin-top:50px;
}

.button-holder{
  text-align:center;
  padding-top:20px;

}
